.player {
    height: 200px;
    width: 600px;
    background-color: rgb(108, 101, 101);
    margin: 10px auto;
    padding: 20px;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.image {
    height: 160px;
    width: 160px;
    margin-right: 20px;
}

.image img {
    height: 100%;
    width: 100%;
}

.right {
    height: 160px;
    width: 400px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-around;
    padding: 20px 0;
}

.right span {
    margin-left: 20px;
}

audio {
    width: 90%;
    background: none;
    color: aliceblue;
    cursor: pointer;
}

audio::-webkit-media-controls-enclosure {
    background: none;
    color: aliceblue;
}

table {
    background-color: rgb(30, 35, 35);
    width: 100%;
    padding: 20px;
}

td {
    text-align: center;
    padding: 10px;
}

tr {
    padding: 10px;
}

tr:hover {
    background-color: rgb(27, 30, 30);
}

.title {
    width: 70%;
}

@media only screen and (max-width: 540px) {
    .player {
        width: 100%;
    }



    .right {
        width: 200px;
        margin-right: 50px;
    }

    audio {
        margin: 20px 0;
        width: 100%;
        background: none;
        color: aliceblue;
    }
}