.player {
    height: 250px;
    width: 600px;
    background-color: rgb(127, 120, 120);
    margin: 10px auto;
    padding: 20px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: 2px solid yellow;
}

.up {
    height: 200px;
    width: 600px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.image {
    height: 140px;
    width: 140px;
    margin-right: 20px;
}

.image img {
    height: 100%;
    width: 100%;
}

.right {
    height: 160px;
    width: 400px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-around;
    padding: 20px 0;
}

.right span {
    margin-left: 20px;
}

#des {
    text-align: justify;
    font-size: 14px;
    margin-top: 10px;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
}

audio {
    width: 90%;
    background: none;
    color: aliceblue;
    cursor: pointer;
}

audio::-webkit-media-controls-enclosure {
    background: none;
    color: aliceblue;
}

.link{
    margin-top: 40px;
    width: 100%;
    text-align: center;
}
.link button{
    background-color: #961c29;
    border: none;
    height: 30px;
    width: 100px;
    box-shadow: 2px 2px 0 gray;
    cursor: pointer;
    color: aliceblue;
}
table {
    background-color:  #CD192A;
    width: 100%;
    padding: 20px;
}

td {
    text-align: center;
    padding: 10px;
}

tr {
    padding: 10px;
}

tr:nth-child(odd) {
    background-color: #961c29;
}


tr:hover {
    opacity: .8;
}

.title {
    width: 70%;
}

@media only screen and (max-width: 540px) {
    .player {
        width: 100%;
    }



    .right {
        width: 200px;
        margin-right: 50px;
    }

    audio {
        margin: 20px 0;
        width: 100%;
        background: none;
        color: aliceblue;
    }
}

section {
    margin-top: 40px;
}