@import url('https://fonts.googleapis.com/css2?family=Oswald&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background: #ccd1dc;
    font-family: Oswald, sans-serif;
}

.container {
    width: 1400px;
    margin: 10px auto;
    display: flex;
    align-items: start;
    justify-content: space-between;
    padding: 0;
}

main {
    width: 935px;
    height: fit-content;
    text-align: justify;
    line-height: 1.4;
    font-size: 18px;
    letter-spacing: 2px;
    background-color: aliceblue;
    padding: 20px;
}

main img {
    width: 100%;
    height: 400px;
}

aside {
    height: fit-content;
    width: 430px;
    text-align: justify;
    line-height: 1.6;
    letter-spacing: 1.6px;
}

.content {
    margin: 20px 0;
}

.content p {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 200;
    font-size: 18px;
    text-align: justify;
}

.content p a{
    color: rgb(79, 79, 206);
}


.aside-cont {
    width: 100%;
    margin: 0 auto;
    
}

.box {
    width: 100%;
    height: 430px;
    background-color: aliceblue;
    position: relative;
}

.box img{
    width: 100%;
    height: 350px;
    filter: blur(1px) brightness(.4);
}

.box a{
    width: 100%;
    height: 100%;
    color: rgb(255, 255, 255);
    position: absolute;
    top: 0;
    left: 0;
    z-index: 99;
}

.box span{
    position: absolute;
    top: 50px;
    left: 10px;
    color: #ffffff;
    font-weight: 600;
    
}

.box img:hover{
    filter: blur(0) brightness(2);
}

.read{
    background-color: #626f8a;
}

@media only screen and (max-width: 1200px) {
    .container {
        flex-direction: column;
        align-items: center;
        width: 100%;
    }

    main {
        max-width: 95%;
        margin-bottom: 20px;
    }

    main img {
        width: 100%;
    }

    aside {
        width: 100%;
        justify-content: space-evenly;
    }

    .case {
        width: 100%;
        text-align: center;
        margin-bottom: 10px;
        margin-top: 20px;
    }

    .aside-cont {
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        width: 420px;
    }

    .box {
        width: 100%;
        margin: 20px auto;
    }
}