body {
    background-color: aliceblue;
}

.m-0 {
    width: 100%;
    height: 100%;
    margin: 0;
    cursor: pointer;
    border: none;
}

.container {
    margin: 0 auto;
}

.container-blur {
    filter: blur(10px);
}

.carousel {
    z-index: 0;
    /* height: 50vh; */
    margin-top: 20px;
    aspect-ratio: 3.47;
}


.lead {
    display: flex;
    align-items: center;
    justify-content: space-between;
    /* border-left: 4px solid #CD192A; */
    padding-left: 10px;
    margin-bottom: 20px;
}

.view-link {
    color: #CD192A;
    font-size: 14px;
    font-weight: 700;
}

.view-link:hover {
    color: #4e3b3d;
}


.thumb-cont {
    width: 100%;
    height: fit-content;
    display: flex;
    align-items: center;
    justify-content: space-between;
}


section {
    background-color: white;
    padding: 40px 20px;
    border-radius: 4px;
}

/* section:nth-child(odd) {
    background-color: #CD192A;
} */



/* Podcasts */
.pod1 {
    background-color: #CD192A;
}

.acontainer {
    margin: 10px auto;
    padding: 0 20px;
    height: 250px;
    /* background-color: aqua; */
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    overflow: hidden;
    transition: all .3s ease;

}

.acard {
    height: 210px;
    background-color: aliceblue;
    width: 170px;
    border-radius: 5px;
    margin-right: 10px;
    margin-top: 30px;
    position: relative;
    box-shadow: 0px 0px 4px 2px gray;
    transition: .3s ease;
}

.acontainer:hover>a:not(:hover) {
    filter: brightness(40%) blur(2px);
    transition: .3s ease;
}

.top {
    height: 130px;
    width: 100%;
    background-color: rgb(14, 18, 72);
    border-radius: 4px 4px 0 0;
}

.bottom {
    /* height: ; */
    width: 100%;
    border-radius: 4px 4px 0 0;
}

.center {
    height: 150px;
    width: 150px;
    border-radius: 50%;
    position: absolute;
    top: 10%;
    left: 6%;
}


.aimg {
    width: 100%;
    height: 100%;
    border-radius: 50%;
}

.pcenter {
    height: 150px;
    width: 150px;

    position: absolute;
    top: 10%;
    left: 6%;
}

.pcenter img {
    width: 100%;
    height: 100%;
}

.play {
    height: 40px;
    width: 40px;
    background: transparent;
    position: absolute;
    top: 76%;
    right: 10px;
}

.play img {
    height: 40px;
    width: 40px;
}

.podcasts {
    width: 100%;
    height: fit-content;
    margin: 30px 0;
    padding: 10px;
    display: flex;
    flex-direction: column;
}

/* video */

.audio-card {
    height: 200px;
    width: 250px;
    box-shadow: 2px 2px 4px 2px grey;
    border-radius: 4px;
    margin: 4px;
    transition: .5s ease;
    cursor: pointer;
}

.audio-card:hover {
    box-shadow: none;

}

.audio-thumbnail,
iframe {
    width: 100%;
    height: 100%;
    border-radius: 4px;
}

.thumb-cont:hover>.audio-card:not(:hover) {
    filter: brightness(40%) blur(2px);

}





/* about section */
.about {
    height: fit-content;
    background-color: rgb(255, 255, 255);
    width: 100%;
    margin: 30px 0;
    padding: 10px 40px;
    display: flex;
    flex-direction: column;
}

.title {
    margin: 10px 0;
}

.content {
    margin: 10px 0;
    font-weight: 100;
    text-align: justify;
}

.about p {
    font-weight: 100;
    text-align: justify;
}

.support-btn {
    height: 60px;
    width: 500px;
    background-color: #CD192A;
    color: white;
    text-transform: uppercase;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 26px;
    font-weight: bolder;
    transition: .5s ease;
    border-radius: 30px;
    margin: 50px auto;
    transition: 0.5s;
}

.support-btn:hover {
    background-color: #961c29;
}




/* Our WORKS Section & Blogs Section */
.work,
.blogs,
#partners-section {
    width: 100%;
    height: fit-content;
    margin: 35px 0;
    padding: 10px;
    display: flex;
    flex-direction: column;
}


.blog-container {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    /* border: 2px solid red; */
}

.box {
    height: 400px;
    width: 30%;
    flex-basis: 30%;
    margin-right: 20px;
    margin-bottom: 40px;
    background-color: rgb(244, 241, 241);
    border-radius: 10px;
}

.box img {
    width: 100%;
    height: 60%;
    border-radius: 10px 10px 0 0;
}

.bottom {
    padding: 15px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
}

.bottom a {
    width: fit-content;
    background-color: rgb(230, 55, 55);
    color: white;
    text-decoration: none;
    padding: 10px 20px;
    border-radius: 20px;
    font-weight: 600;
    text-transform: uppercase;
}

.bottom span {
    margin-left: 4px;
    margin-top: 12px;
    font-size: 22px;
    max-height: 60px;
    overflow: hidden;
}

.btns {
    margin: 20px 0px;
    width: 80%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.edit {
    width: 200px;
    text-align: center;
    margin: 0 10px;
    padding: 6px;
    text-decoration: none;
    color: white;
}

.edit {
    background-color: rgb(0, 208, 236);
}







/* Our Partners Section */

.autoplay {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    width: 100%;
    max-width: 800px;
    min-width: 280px;
    margin: auto;
}

.autoplay img {
    width: 120px;
    max-width: 120px;
    margin: 0 80px;
}

.slick-prev,
.slick-next {
    background-color: inherit;
    color: white;
    border: none;
}




/* Testimonials Section */

/* .line {
    width: 100%;
    height: 10px;
    background: #000;
} */

.line img {
    height: 60px;
    margin-bottom: 20px;
}

#testimonials {
    width: 100%;
}

.test-cont {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

.tcard {
    max-width: 300px;
    min-width: 200px;
    height: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: rgb(255, 252, 248);
    margin: 30px;
    padding: 20px;
    border-radius: 20px 0 20px 0;
    box-shadow: 0 0 6px 1px;
}

.tcard img {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    margin-bottom: 10px;
}

.tcard span {
    display: inline;
    width: 80%;
}

.author {
    margin-top: 10px;
    width: 100%;
    text-align: end;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.author img {
    width: 10px;
    height: 10px;
}





/* Tablet View */
@media only screen and (max-width: 786px) {

    .container {
        width: 420px;
    }



    .about {
        height: fit-content;
    }

    .support-btn {
        height: 60px;
        width: 300px;
        font-size: 20px;
        border-radius: 30px;
    }

    .thumb-cont {
        display: flexbox;
        flex-wrap: wrap;
    }

    .audio-card {
        flex: 30%;
        height: 150px;
    }

    .autoplay img {
        width: 70px;
        margin: auto 10px;
    }

}



/* Mobile View */
@media only screen and (max-width: 420px) {

    .container {
        width: 300px;
    }

    .title {
        margin-right: 40px;
    }

    .acontainer {
        display: flex;
        flex-basis: auto;
        flex-direction: row;
        flex-wrap: nowrap;
    }

    .about {
        height: fit-content;
    }

    .support-btn {
        height: 40px;
        width: 200px;
        font-size: 16px;
        border-radius: 20px;
    }

    .thumb-cont {
        display: flexbox;
        flex-wrap: wrap;
    }

    .audio-card {
        flex: 46%;
        height: 150px;
    }


}




/* PC view */
@media only screen and (min-width: 786px) {

    .container {
        width: 720px;
    }

    .thumb-cont {
        display: flexbox;
        flex-wrap: wrap;
    }

    .audio-card {
        flex: 30%;
        height: 180px;
    }


}


@media only screen and (min-width: 980px) {

    .container {
        width: 80vw;
    }

    .thumb-cont {
        display: flexbox;
        flex-wrap: wrap;
    }



    .audio-card {
        flex: 14%;
        height: 200px;
    }

    .autoplay img {
        width: 120px;
        max-width: 120px;
        margin: 0 80px;
    }


}

@media only screen and (max-width: 1024px) {

    .blog-container {
        display: flex;
        flex-wrap: wrap;
    }

    .box {
        flex: 100%;
        height: 400px;
        margin: 20px auto;
        max-width: 400px;
    }

    .acontainer {
        height: fit-content;
        overflow: visible;
    }

    .box img {
        width: 100%;
    }
}