* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

#testimonials {
    width: 100%;
}

.test-cont {
    width: 1500px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 40px auto;
    flex-wrap: wrap;
}

.tcard {
    width: 400px;
    height: 300px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: rgb(255, 219, 172);
    margin: 30px;
    padding: 40px;
    text-align: center;
    border-radius: 10px;
}

.tcard img {
    width: 80px;
    height: 80px;
    margin-bottom: 20px;
    border-radius: 50%;
}

.tcard span {
    width: 80%;
}

.author {
    width: 100%;
    text-align: end;
    margin-top: 20px;
}

@media only screen and (max-width: 1300px) {
    .test-cont {
        width: 750px;
    }
}