@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Poppins', sans-serif;
}

main {
    margin: 10px auto;
    width: 1400px;
    height: fit-content;
}

#head {
    height: 80px;
    display: flex;
    padding: 20px 0;
    align-items: center;
    justify-content: flex-start;
}

#head img {
    width: 50px;
}

#head_img {
    height: 50px;
    margin-right: 20px;
}

.container {
    width: 1300px;
    height: fit-content;
    margin: 0 auto;
    border-radius: 10px;
    padding: 0px 20px;
    background-color: white;
    display: flex;
    flex-wrap: wrap;
    justify-content: start;
}

.card {
    width: 28%;
    flex-basis: 30%;
    margin: 0 20px 20px 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px 10px;
    border-radius: 2px;
    box-shadow: 1px 1px 10px gray;
    transition: .5s ease;
}

.card:hover {
    background-color: antiquewhite;
    box-shadow: 1px 1px 10px gray;
}

.card img {
    width: 300px;
    height: 200px;
    margin: 20px 0px;
}

.card span {
    max-width: 300px;
    height: 70px;
    padding: 5px;
}

.btns {
    margin: 20px 0px;
    width: 80%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.edit,
.delete {
    width: 200px;
    text-align: center;
    margin: 0 10px;
    padding: 6px;
    text-decoration: none;
    color: white;
}

.edit {
    background-color: rgb(0, 208, 236);
}

.delete {
    background-color: #CD192A;
}

@media only screen and (min-width: 1700px) {

    .container {
        width: 80%;
    }

    .card {
        flex-basis: 20%;
    }

    .card img {
        width: 80%;
    }
}

@media only screen and (max-width: 1300px) {
    .container {
        width: 720px;
        justify-content: start;
    }

    .card {
        width: 350px;
        padding: 10px 20px;
    }

    .card img {
        width: 250px;
        height: 180px;
    }
}

@media only screen and (max-width: 720px) {
    .container {
        width: 375px;
    }

    .card {
        width: 300px;
        flex-basis: 50%;
        margin: 20px auto;
        padding: 10px 20px;
    }

    .card img {
        width: 250px;
        height: 150px;
    }
}