@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Poppins', sans-serif;
}

a {
    text-decoration: none;
    color: white;
}

tr {
    border: 2px solid black;
}

table {
    width: 1300px;
    overflow: hidden;
    margin: 20px auto;
}

thead {
    font-size: large;
    background-color: aqua;
}

td {
    width: 200px;
    max-width: 200px;
    height: 300px;
    max-height: 400px;
    overflow: hidden;
    text-align: center;
    vertical-align: middle;
    background-color: antiquewhite;
}

/* #content {
    height: 400px;
    overflow: hidden;
} */

#content p {
    text-align: justify;
    overflow: hidden;
    text-overflow: ellipsis;
    -webkit-line-clamp: 5;
    line-clamp: 5;
    -webkit-box-orient: vertical;
    padding: 0 16px;
}

.image {
    height: 100px;
    width: 100px;
}

.btns {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 0 auto;
    height: 200px;
    width: 80%;
}


.edit {
    background-color: rgb(0, 208, 236);
    padding: 10px;
}

.publish {
    background-color: rgb(150, 150, 51);
    padding: 10px;
}

.delete {
    background-color: #CD192A;
    padding: 10px;
    color: white;
    cursor: pointer;
}